@import "../dist/webkit-sassui-icon-plus.scss";
.test-webkit-sassui-icon-plus {
    border: 1px solid red;
}

.wrapper {
    width: 320px;
    text-align: center;
    margin: 0 auto;
    header {
        background: #eee;
        border: 1px dashed #ccc;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .item {
        margin-bottom: 20px;
        background: #eee;
        padding: 20px;
    }
}
